USE [master]
GO
/****** Object:  Database [VLALA]    Script Date: 05.06.2025 4:03:18 ******/
CREATE DATABASE [VLALA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VLALA', FILENAME = N'/var/opt/mssql/data/VLALA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VLALA_log', FILENAME = N'/var/opt/mssql/data/VLALA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VLALA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VLALA]
GO
/****** Object:  Table [dbo].['таблица 1$']    Script Date: 05.06.2025 4:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['таблица 1$'](
	[Артикул] [nvarchar](255) NULL,
	[Тип продукции] [nvarchar](255) NULL,
	[Наименование продукции] [nvarchar](255) NULL,
	[Себестоимость] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].['таблица 2$']    Script Date: 05.06.2025 4:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['таблица 2$'](
	[Тип клиента] [nvarchar](255) NULL,
	[ФИО клиента] [nvarchar](255) NULL,
	[Контактные данные] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].['таблица 3$']    Script Date: 05.06.2025 4:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['таблица 3$'](
	[Наименование продукции] [nvarchar](255) NULL,
	[ФИО клиента] [nvarchar](255) NULL,
	[Количество] [float] NULL,
	[Дата продажи] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
